<h3>Search quotes</h3>

    <%= form_tag(quotes_path, method: :get) do %>
      <%= text_field_tag :search, nil, :placeholder => "Search quote here" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
    <table>
      <% @quotes.each do |movie| %>
        </tr>
          <td><%= movie["content"] %></td>
        </tr>
      <%end%>
      </table>