<h1>Basket</h1>
<%= "------------" %>
<br>
<table>
<% @basket_items.each do |basket_item| %>
      <% #basket_item.attributes.transform_keys!(&:to_sym)  %>
      
      <tr>
        <td> <%= basket_item.name %> </td> 
         <td> <%= '|' %> </td> 
        <td>£ <%= basket_item.price %> </td>
        
      </tr>
    <% end %>
    
  </table>
  <%#= delete_all %>
    <%= button_to 'Destroy', basket_item_path(@basket_items), method: :delete%>  
<br>
<%= "------------" %>