<h1>Edit</h1>

<%= form_for @item do |f|   %>
<% if f.object.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(f.object.errors.count, "error") %>.
        </div>
        <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>    
    <%= f.label :name %>
    <%= f.text_field :name%>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= f.submit %>
<% end %>