
<div class="container">
   <div class="row">
     <div class="col-xs-12">

<table class = "table table-bordered">
  <tr>
    <th>ID</th>
    <th>Name</th> 
    <th>Price</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Hide</th>
    <th>Add</th>
  </tr>
  <% @items.each do |item| %>
      <tr>
        <td> <%= link_to item.id, item %> </td>
        <td> <%= item.name %> </td>
        <td> £ <%= item.price %> </td>
        <td> <%= link_to 'Edit', edit_item_path(item) %> </td>
        <td> <%= link_to 'Delete', item, method: :delete   %> </td>
        <td><%= link_to 'Hide', item, method: :hide %></td>
        <td> <%= link_to "Add to Basket", basket_items_path({item_id: item.id}), method: :post %> </td>
      </tr>
    <% end %>

 
</table>
  
    </div>
  </div>
</div>
  <!--<table>-->
 
  <!--<#% filter = MovieQuotes.new%>-->
  <!--<#% filter.by_year("2005")%>-->
  
  <!--<#% filter.results.each do |movie|%>-->
  <!--  </tr>-->
  <!--    <td><#%= movie["content"] %> / </td><td><%= movie["movie"]["title"] %></td>-->
  <!--  </tr>-->
  <!--<#%end%>-->
  
  <!--</table>-->
<%= link_to "New Items", new_item_path %>