<dl>
    <dt>Name</dt>
    <dd><%= @item.name %></dd>
    
    <dt>Price</dt>
    <dd><%= @item.price %> </dd>
 </dl>
 
 
 <%= link_to 'Edit', edit_item_path(@item) %>
 <%= link_to 'Back', items_path, title: 'Back'%>
 

